<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>VUE</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">
	<!-- Place favicon.ico in the root directory -->
	<link rel="stylesheet" href="css/all.css">
</head>
<body>
	<div id="app">
		<div class="product">
			<div class="product-image">
				<img id="product-image" class="product__img" v-bind:src="image" v-bind:alt="altText">
				<span class="sale-tag"
							@mouseenter="animatedBtn(event)"
							v-if="inventory > 80">{{ onSale }}</span>
			</div>
			<div class="product-info">
				<h1 class="product__title">{{ title }}</h1>
				<!--trivial conditions-->
				<!--<p v-if="inStock">In stock</p>-->
				<!--<p v-else>Out of stock</p>-->
				<!--end trivial conditions-->
				<!--begin v-show-->
				<!--<p v-show="inStock">In stock</p>-->
				<!--end v-show-->
				<p v-if="inventory > 10 && inStock">In stock</p>
				<p v-else-if="inventory > 0 && inventory < 10">Almost sold out!</p>
				<p v-else
				   :class="{active_out:!inStock}">Out of stock</p>
				<ul>
					<li class="product-info__item" v-for="detail in details">{{detail}}</li>
				</ul>
				<h3 :style="{ color: h3Color }">Colors</h3>
				<ul class="product-info__list">
					<li	@mouseover="updateProduct(index)"
							class="product-info__item product-info__item-color color-box"
							:class="{ active: activeClass, 'text-danger': errorClass }"
							v-for="(variant, index) in variants"
							:style="{backgroundColor: variant.variantColor}"
							:key="variant.variantId">
						<!--@mouseout="returnImage()"-->
						<!--{{variant.variantColor}}-->
					</li>
				</ul>
				<h3>Available sizes</h3>
				<ul>
					<li v-for="size in sizes"
							class="prodict-info__item"
							:class="[isActive ? activeClassName : '']">
						{{size}}
					</li>
				</ul>
				<button v-on:click="addToCart()"
								:disabled="!inStock"
								class="btn-cart"
								:class="{ disabledBtn: !inStock }">
								Add to cart
				</button>
				<button v-on:click="removeFromCart()"
								:class="{ disabledBtn: !inStock }"
								:disabled="!inStock"
								class="btn-cart">Remove from cart</button>
				<div class="cart">
					<p class="cart__text">Cart <span :style="styleObject">({{cart}})</span></p>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/main.js"></script>
</html>